.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 50px auto 100px;
  background: #BEBEBE;
  overflow: hidden;
  font-size: 14px;
}

canvas {
  background: white;
}

.previewCanvas {
  position: absolute;
  background: transparent;
}

.CanvasSection {
  background: #838383;
  overflow: scroll;
  box-shadow: 1px 1px 0px inset #3a3a3a;
  border: none;
  padding: 3px;
}

.App__Window {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  padding: 2px;
}


